In [2]:
import pandas as pd
import os

In [2]:
os.makedirs('loaded', exist_ok=True)

In [10]:
if not os.path.exists('loaded'):
    os.makedirs('loaded')
    print("Created 'loaded' directory")
else:
    print("'loaded' directory already exists")

Created 'loaded' directory

In [11]:
# Path configuration
full_data_path = 'transformed_full.csv'
incr_data_path = 'transformed_incremental.csv'
output_dir = 'loaded/'

In [12]:
print("✅ Setup complete - ready to load data")

✅ Setup complete - ready to load data

In [13]:
#  [Section 2: Load Full Transformed Data]
# Read transformed data
full_df = pd.read_csv(full_data_path)

In [15]:
# Convert to Parquet 
full_df.to_parquet(output_dir + 'full_data.parquet')

print(f"✅ Full data loaded to {output_dir}full_data.parquet")
print(f"Records: {len(full_df)} | Size: {os.path.getsize(output_dir + 'full_data.parquet')/1024:.2f} KB")

✅ Full data loaded to loaded/full_data.parquet
Records: 99 | Size: 9.01 KB

In [16]:
# %% [Section 3: Load Incremental Transformed Data]
# Read incremental data
incr_df = pd.read_csv(incr_data_path)

In [17]:
# Convert to Parquet 
incr_df.to_parquet(output_dir + 'incremental_data.parquet')

print(f"✅ Incremental data loaded to {output_dir}incremental_data.parquet")
print(f"Records: {len(incr_df)} | Size: {os.path.getsize(output_dir + 'incremental_data.parquet')/1024:.2f} KB")

✅ Incremental data loaded to loaded/incremental_data.parquet
Records: 10 | Size: 7.81 KB

In [18]:
#  [Section 4: Verification]
print("\n=== FULL DATA VERIFICATION ===")
full_verify = pd.read_parquet(output_dir + 'full_data.parquet')
display(full_verify.head(3))

=== FULL DATA VERIFICATION ===

,order_id,customer_name,product,quantity,unit_price,order_date,region,total_price,high_value,order_month,is_weekend
0,1,Diana,Tablet,1.0,500.0,2024-01-20,South,500.0,False,January,True
1,2,Eve,Laptop,1.0,250.0,2024-04-29,North,250.0,False,April,False
2,3,Charlie,Laptop,2.0,250.0,2024-01-08,Unspecified,500.0,False,January,False

In [19]:
print("\n=== INCREMENTAL DATA VERIFICATION ===")
incr_verify = pd.read_parquet(output_dir + 'incremental_data.parquet')
display(incr_verify.head(3))

=== INCREMENTAL DATA VERIFICATION ===

,order_id,customer_name,product,quantity,unit_price,order_date,region,total_price,high_value,order_month,is_weekend
0,101,Alice,Laptop,1.0,900.0,2024-05-09,Central,900.0,False,May,False
1,102,Unknown,Laptop,1.0,300.0,2024-05-07,Central,300.0,False,May,False
2,103,Unknown,Laptop,1.0,600.0,2024-05-04,Central,600.0,False,May,True

In [20]:
print("\n✅ All data successfully loaded and verified")

✅ All data successfully loaded and verified